body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#userInfoTable {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#userInfoTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#userInfoTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#userInfoTable th {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    text-align: left;
}

#userInfoTable label {
    font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
}

#userInfoTable input {
    width: 100%;
    box-sizing: border-box;
}
